[submodule "saleor-storefront"]
	path = saleor-storefront
	url = https://github.com/felipearmat/saleor-storefront
[submodule "saleor-dashboard"]
	path = saleor-dashboard
	url = https://github.com/felipearmat/saleor-dashboard
